body { 
	background: url("../images/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#content {
	opacity: 0.8;
	background-color: #EEE;
	color: #333;
	padding: 15px
}